
*{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: #202270;
}

:root {
    --main-bg-color: #3b3b3b;
    --main-text-color: #ffffff;
    --important-span: #e73c7e;
    --highlight-text: #23a6d5;
  }

/*
    Gestion du background
*/

body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    
    50% {
    background-position: 100% 50%;
    }

    100% {
    background-position: 0% 50%;
    }
}

.centrer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
    Gestion de la popup
*/

.pop-up{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 65vh;

    text-align: justify;

    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    border-radius: 10px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.pop-up span{
    color: #383aa8;
    font-weight: 600;
}

.leave:hover{
    cursor: pointer;
}

.high-bar{
    position: relative;
    top: -0.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(54, 54, 54);
    padding: 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.high-bar p{
    color: white;
    font-family: 'montserrat', 'Times New Roman', Times, serif;
    font-weight: 200;
}

.high-bar div{
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background-color: rgb(253, 49, 49);
}

pre{
    font-size: calc(800vw / 1018);
}

.pop-up-contain{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 20px 0;
    margin: 3vh;
}

.pop-up-contain p{
    margin-right: 5vh;
}

/*
    Gestion du terminal
*/

.terminal-box{
    display: none;
    background-color: var(--main-bg-color);
    height: 70%;
    width: 65%;
    color: var(--main-text-color);

    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    

}

.contain-box{
    overflow-y: auto;
}

.contain-box::-webkit-scrollbar{
    width: 5px;
}

.contain-box::-webkit-scrollbar-track{
    background-color: var(--main-bg-color);
}

.contain-box::-webkit-scrollbar-thumb{
    background-color: var(--highlight-text);
}

.t-text > div, pre, .input-box span{
    color: var(--main-text-color);
    font-family: "Ubuntu Mono", monospace;

}

@media (max-width: 800px) {

    .terminal-box{
        width: 90%;
    }
    
}

.t-text div span, .input-box span{
    color: var(--important-span);
}

input{
    background-color: var(--main-bg-color);
    word-wrap: break-all;
    border: none;
    color: var(--main-text-color);
    width: 100%;
    font-family: "Ubuntu Mono", monospace;
}

input:focus{
    outline: transparent;
}

.t-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5px;
    padding-top: 10px;
    word-break: break-word;
    
}

.welcome{
    padding-left: 5px;
    padding-top: 10px;
}

.input-box{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: calc(100% - 5px);
}

.input-box span{
    white-space: nowrap;
}

/*
    Gestion de l'affichage des commandes
*/

.aide span{
    color: var(--main-text-color);
    font-family: "Ubuntu Mono", monospace;
    word-break: break-word;
    word-spacing: 5px;
}

a{
    color: var(--highlight-text);
}

i{
    color: var(--main-text-color);
    font-family: "Ubuntu Mono", monospace;
    font-size: 14px;

}

.t-content > .highlight{
    color: var(--highlight-text);
    font-family: "Ubuntu Mono", monospace;
}

table, thead, th, td{
    font-family: "Ubuntu Mono", monospace;
    color: var(--main-text-color);
    text-align: center;
}

.t-content{
    margin-right: 5px;
}

th, td{
    padding: 2px;
}

th{
    font-size: 18px;
}

table, th, td{
    border: 1px solid var(--main-text-color);;
    margin: 0;
    border-collapse: collapse;
}